@import "~susy/sass/susy";

* {
  margin: 0;
  padding: 0;
}

$susy: (
  container: 80%
);

.header {
  &__container {
    @include container();
  }
  text-align: center;
}

.nav {
  $border-color: #e6e6e6;
  display: none;
  border: 1px $border-color solid;
  &--expanded {
    display: block;
  }
  &__list {
    list-style:none;
  }
  &__li {
    padding: 15px;
    text-align: center;
    &:not(:last-of-type) {
      border-bottom: 1px $border-color solid;
    }
  }
  &__a {
    color: blue;
    text-decoration: none;
  }
}
