@import "~susy/sass/susy";

$susy: (
  container: 80%
);

.header {
  &__container {
    @include container();
  }
}

.nav {
  width: 100%;
  display: none;
  border: 1px red solid;
  &--expanded {
    display: block;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  &__li {
    padding: 15px;
    text-align: center;
    &:not(:last-of-type) {
      border-bottom: 1px red solid;
    }
  }
  &__a {
    color: blue;
    text-decoration: none;
  }
}
