@import '~susy';
@import '~breakpoint-sass';

* {
  margin: 0;
  padding: 0;
}

$susy: (
  container: 80%
);

.header {
  text-align: center;

  &__container {
    @include container();
  }
}

.nav {
  $border-color: #e6e6e6;

  &__toggle-btn {
    border: 0;
    margin-bottom: 21.4333px;
    padding: 5px;
  }

  &__list {
    border: 1px $border-color solid;
    display: none;
    list-style: none;

    &--expanded {
      display: block;
    }

    >li {
      padding: 15px;
      text-align: center;

      // scss-lint:disable NestingDepth
      >a {
        text-decoration: none;
      }

      // scss-lint:disable NestingDepth
      &:not(:last-of-type) {
        border-bottom: 1px $border-color solid;
      }

    }
  }
}

