$medium: 355px;
$wide: 900px;
$susy: (
  container: 58%
);

$brand-background-color: #363f48;
$brand-foreground-color: #ffffff;

$alt-section-background-color: #f8f8f8;
$section-background-color: #ffffff;
$section-foreground-color: #000000;

$accent-color: #5fcf80;
