$susy: (
  container: 58%
);

$font-logo:      'Armata';
$font-heading:   'PT Serif';
$font-paragraph: 'Noto Sans';
$font-nav:       'Roboto Slab';

$color-accent:     #5fcf80;
$color-white:      #F7F7F7;
$color-black:      #030303;
$color-blue-steel: #1F222D;
