.banner {
  background-color: #FDF2C5;
  padding: 10vmax 0;

  &__container {
    @include fluid-container;
  }

  &__text {
    max-width: 700px;
    font-size: 1.1em;
    line-height: 1.25em;
    @include breakpoint(690px) {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  &__contact-btn {
    padding: 10px 8px;
  }
  &__learn-btn {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px black dotted;
  }
}
