
@mixin button() {
  background-color: $color-accent;
  color: $color-black;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto Slab';

  &:hover {
    color: $color-black;
    background-color: darken($color-accent, 10%);
  }
}

.button {
  @include button();
}
