
@mixin button() {
  background-color: $color-accent;
  color: $color-black;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto Slab';
  display: inline-flex;
  align-items: center;

  &:hover {
    color: $color-black;
    background-color: darken($color-accent, 10%);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: darken($color-accent, 30%);
    margin-right: 6px;
  }
}

.button {
  @include button();
}
