.cta-section {
  background-color: $color-blue-steel;
  color: $color-white;
  padding: 4vh 0;
  text-align: center;
  &__button {
    font-size: 1.2em;
    padding: 9px 18px;
  }
  &__text {
    font-size: 1.2em;
  }
}
