.datum {
  &__heading {
    text-transform: uppercase;
    font-size: 1.3em;
    >span {
      color: lighten(#000, 55%);
      font-style: italic;
      display: block;
      font-size: .7em;
      text-transform: none;
      margin-bottom: 2px;
    }
  }
  &__text {
  }
}
