.datum {
  &__heading {
    font-size: 1.3em;
    text-transform: uppercase;

    >span {
      color: lighten(#000, 55%);
      display: block;
      font-size: .7em;
      font-style: italic;
      margin-bottom: 2px;
      text-transform: none;
    }
  }
}
