.header {
  text-align: center;

  &__container {
    @include container();
    padding: 15px 0;

    @include breakpoint($medium) {
      align-items: center;
      display: flex;
      position: relative;
    }
  }
}
