.header {
  text-align: center;

  &__container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    @include breakpoint($medium) {
      align-items: center;
      display: flex;
      position: relative;
    }
  }
}
