.nav {
  $nav-border-color: #e6e6e6;
  @include breakpoint($medium) {
    margin-left: auto;
  }
  &__toggle-btn {
    display: flex;
    align-items: center;
    background: 0;
    border: 0;
    margin: auto;
    >svg {
      margin-left: 5px;
    }
    @include breakpoint($wide) {
      display: none;
    }
  }
  &__list {
    border: 1px $nav-border-color solid;
    display: none;
    list-style: none;
    margin-top: 21.4333px;
    @include breakpoint($medium) {
      left: 0;
      position: absolute;
      width: 100%;
    }
    @include breakpoint($wide) {
      border: 0;
      display: block;
      margin-top: 0;
      position: static;
      margin-bottom: 0;
    }
    &--expanded {
      display: block;
    }
  }
  &__item {
    text-align: center;
    @include breakpoint($wide) {
      display: inline-block;
    }
    // scss-lint:disable NestingDepth
    &:not(:last-of-type) {
      border-bottom: 1px $nav-border-color solid;
      @include breakpoint($wide) {
        border-bottom: 0;
      }
    }
  }
  &__link {
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
    @include breakpoint($wide) {
      padding: 10px;
    }
  }
}
