.services-section {
  background-color: darken($color-white, 3%);

  .container {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 1.5em;
    margin-bottom: 35px;
    @include section-heading();
  }

  &__service {
    @include breakpoint(600px) {
      @include gallery(6 of 12);
    }
  }
}
