.service {
  align-items: flex-start;
  display: flex;

  &__icon {
    display: block;
    margin-right: 7px;
    min-width: 48px;
    fill: #5fcf80;
  }

  &__heading {
    font-size: 1.3em;
    margin-top: 10px;
    text-transform: uppercase;
  }
}
