.social-network-list {
  list-style: none;
  padding-left: 0;
  font-family: $font-nav;
  margin: 0;
  margin-bottom: 7px;

  &__item {
    padding: 7px 0;

    @include breakpoint(605px) {
      display: inline-block;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #E0E0E0;
    padding-right: 12px;
    font-size: .9em;

    &:hover {
      color: $color-white;
      .social-network-list__icon {
        fill: $color-white;
      }
    }
  }


  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 6px;
    fill: #888a90;
  }
}
