.social-network-list {
  &__icon {
    width: 24px;
    height: 24px;
    fill: white;

    @include breakpoint($wide) {
      display: none;
    }
  }
  list-style: none;
  padding-left: 0;
  li {
    padding: 5px 0;
    @include breakpoint(605px) {
      display: inline-block;
      &:not(:last-child):after {
        content: ' |';
        color: tomato;
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
