.social-network-list {
  list-style: none;
  padding-left: 0;
  font-family: 'Roboto Slab';
  margin: 0;
  margin-bottom: 7px;

  &__item {
    padding: 5px 0;

    @include breakpoint(605px) {
      display: inline-block;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #E0E0E0;
    padding-right: 12px;
    font-size: .9em;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 6px;
    fill: #888a90 !important;
    &--mail {
      fill: white;
    }
    &--twitter {
      fill: #00aced;
    }
    &--github {
      fill: white;
    }
    &--youtube {
      fill: #cd201f;
    }
    &--stack-overflow {
      fill: #fe7a15;
    }
  }
}
