.training-section {

  background-color: #f8f8f8;

  @include breakpoint(600px) {

    &__articles-col {
      @include span(6 of 12);
    }
    &__screencasts-col {
      @include span(6 at 7 of 12);
    }

  }

  &__link {
    color: $color-accent;
    &:after {
      content: '...';
    }
  }

  &__row {
    @include clearfix();
    margin-bottom: 50px;
  }

}
