.training-list {
  font-family: 'PT Serif';
  list-style: none;
  padding: 0;
  &__item {
    padding: 10px 0;
  }
  &__link {
    color: inherit;
    padding-bottom: 5px;
    display: block;
    text-decoration: underline;
    font-size: 1.35em;
  }
  &__datetime {
    color: lighten(#000000, 40%);
  }
}
