.training-section {
  background-color: #f3f4f6;
  position: relative;

  @include breakpoint(830px) {
    &__articles {
      @include gallery(6 of 12);
    }

    &__screencasts {
      @include gallery(6 at 7 of 12);
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    padding-bottom: 60px;
  }

  &__item {
    padding: 10px 0;
  }

  &__link {
    display: block;
    font-size: 1.3em;
    margin-bottom: 7px;
  }

  &__datetime {
    font-size: 1em;
  }

  &__btn {
    @include button();

    @include breakpoint(830px) {
      bottom: 50px;
      position: absolute;
    }
  }

}
